.contentWrapper {
    --borderRadius: 6px;
    flex: auto1;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px;
    border-radius: var(--borderRadius);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.addDeviceWrapper {
    border-color: #4d6d8e;
    border-style: solid;
    border-width: 2px;
}

.devicesWrapper {
    border-color: #4d6d8e;
    border-style: solid;
    border-width: 2px;
}

.formPadding {
    margin: 0px;
}

.subTitle {
    font-family: 'Source Sans Pro', sans-serif;
    color: #6a95c1;
    font-size: 28px;
    margin: 0;

}

.subHeading {
    font-family: 'Roboto', sans-serif;
    color: #6087af;
    font-size: 20px;
    margin: 0;
}

.customButton {
    background-color: transparent;
    border-radius: var(--borderRadius);
    font-family: 'Roboto', sans-serif;
    /*padding: 2px 8px 2px 8px;*/
    -webkit-transition: width 0.17s; /* For Safari 3.1 to 6.0 */
    transition: 0.17s;
    cursor: pointer;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.delete {
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.delete:hover {
    background-color: #e74c3c;
    color: #34495E;
}

.modify {
    color: #2ecc71;
    border: 1px solid #2ecc71;
}

.modify:hover {
    background-color: #2ecc71;
    color: #34495E;
}

.submit {
    font-size: 19px;
    color: #2ecc71;
    border: 1px solid #2ecc71;
}

.submit:hover {
    background-color: #2ecc71;
    color: #34495E;
}

.textInput {
    font-size: 17px;
    font-weight: 100;
    background-color: #34495E;
    border: 1px solid #6a95c1;
    border-top: #000;
    border-left: #000;
    border-right: #000;
    color: #6a95c1;
    outline: none;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

::placeholder {
  color: #95a5a6;
  font-size: 17px;
}
