.footer {
    background-color: #2C3E50;
    bottom: 0;

}

.formButton {

}

.savedDays {
    font-family: 'Roboto', sans-serif;
    color: #ECF0F1;
}

.tableRowStyle {
    font-size: 14px;
    padding: 50px;

}

.tableRowStyle:nth-child(even) {
    background-color: #3b536b;

}

td {
    padding-top: 8px;
    padding-bottom: 8px;
}



.tableRowStyleTrig {
    border-bottom: 2px solid #3b536b;
    margin: 2px;
}

.actionRow {
    border-bottom: 3px solid #9da6ac;

}

.tableStyle {
    border-spacing:0;
    width: 100%;
    border-collapse: collapse;
}

.tableHeading {
    font-size: 16px;
}

.tableRightJustify {
    text-align: right;
}


.toggleDevices {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footerSpacing {
    margin-bottom: 25%;
}
