.footer {
    background-color: #2C3E50;
    bottom: 0;

}

.formButton {

}

.savedDays {
    font-family: 'Roboto', sans-serif;
    color: #ECF0F1;
}

.tableRowStyle {
    font-size: 14px;
    padding: 4px;
}

.tableRowStyle:nth-child(even) {
    background-color: #3b536b;

}

.tableStyle {
    border-spacing:0
}

.tableHeading {
    font-size: 16px;
}





.showerOptions {

}

.binaryRadio {
    color: #ECF0F1;
    padding: 10px;
}

.toggleDevices {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footerSpacing {
    margin-bottom: 25%;
}
