<div class="nav">

    <img src="plus-and-minus.svg" id="plusMinusNav" class="navImages">
    <div class="title">
        <p onclick="window.location='/'"><span class="" id="ctrlHead">ctrl.</span> <!-- <img style="cursor: pointer;" onclick="window.location='/';"  id="hardware" src="server.svg"/> --></p>
    </div>

    <div class="navImages" id="cssNav">
        <div class="menuLine"></div>
        <div class="menuLine"></div>
        <div class="menuLine"></div>
    </div>
</div>
