<div class="nav">
    <a href="/devices" id="plusMinusNav" class="navImages" ><img src="plus-and-minus.svg" class="navImages"></a>
    <div class="title">
        <p onclick="window.location='/'"><span class="" id="ctrlHead">ctrl.</span> <!-- <img style="cursor: pointer;" onclick="window.location='/';"  id="hardware" src="server.svg"/> --></p>
    </div>
    <a href="/settings" class="navImages" id="menuNav" ><img src="settings.svg" class="navImages"></a>
</div>
