<%- include ../partials/header.ejs %>



<div class="content footerSpacing">
    <div class="toggleDevices">
      <% for(var i=0; i < devices.length; i++) { %>

          <div class="buttonWrapper">
              <p class="buttonDevice"><%= devices[i].name %></p>
              <button type="button" name="button" class="homescreenButton" id="onButton" onclick="emitData('<%= devices[i].topic %>', '1')">On</button>
              <button type="button" name="button" class="homescreenButton" id="offButton" onclick="emitData('<%= devices[i].topic %>', '0')">Off</button>
          </div>
      <% } %>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var socket = io();
        socket.on('load', function(load){
            console.log('logged');
        });
    });

    function emitData(topic, status) {
      var socket = io();
      socket.emit('userClick', {top: topic, stat: status});
    }




</script>
